<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>The data recieved from the context is </h2>
{% if  latest_question_list %}
    <h1>This is the index file</h1>
    {% for question_object in latest_question_list %}
        <ul>
            <li>
                <h2>
                <a href="/polls/{{ question_object.id }}">{{ question_object.question_text }}</a>
                </h2>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <h1>No objects available</h1>
{% endif %}


</body>
</html>