{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>The data recieved from the context is </h2>
{% if  latest_question_list %}
    <h1>This is the index file</h1>
    {% for question_object in latest_question_list %}
        <ul>
            <li>
                <h2>
<!--
                <a href="/polls/{{ question_object.id }}">{{ question_object.question_text }}</a>
                below is another way to write the above statement, using namespaces
-->
                <a href="{% url 'polls:detail_view' question_object.id %}">{{ question_object.question_text }}</a>
                </h2>
            </li>
        </ul>
    {% endfor %}
{% elif QUESTION_TEXT%}
    <h3>The question text is : {{ QUESTION_TEXT}}</h3>
{% else %}
    <h1>NO OBJECT AVAILABLE FOR ID {{ QUESTION_TEXT_ID  }}</h1>
{% endif %}



</body>
</html>